<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<!-- Bootstrap 4.5.5 -->

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

	<!-- Axios -->
	<script src="https://unpkg.com/axios@0.20.0/dist/axios.min.js"></script>
	

	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>

	<div class="container mt-4" id="app">
		 <h2>{{ message }}</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Phone </th>
					<th scope="col">City</th>
					<th scope="col">Company</th>
					<th scope="col">Website</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for= "user, index in users">
					<th scope="row">{{ index + 1 }}</th>
					<td>{{ user.name }}</td>
					<td>{{ user.email.toLowerCase() }}</td>	
					<td>{{ user.phone }}</td>					
					<td>{{ user.address.city }}</td>
					<td>{{ user.company.name.toUpperCase() }}</td>
					<td>{{ user.website }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<script>
	var app = new Vue({
		el:  "#app",
		data :{
			message: 'This table data is coming from API',
			users: []
		},
		mounted: function(){
			// Make a request for a user with a given ID
			axios.get('https://jsonplaceholder.typicode.com/users')
			  .then(response => {
			  	this.users = response.data;
			    console.log(response);
			  })
			  .catch(error => {
			    console.log(error);
			  });
		}

	})
	</script>
	
</body>
</html>